{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="my-4">Liste des utilisateurs</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>Actions</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{% url 'user_update' user.id %}" class="btn btn-primary">Modifier</a>
                    <a href="{% url 'user_delete' user.id %}" class="btn btn-danger">Supprimer</a>
                </td>
                <td>...</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'user_create' %}" class="btn btn-success">Ajouter un utilisateur</a>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% endblock %}